.navbar {
  border-bottom: solid 1px #d3d3d3;

  .navbar-brand {
    margin: auto;

    i {
      cursor: pointer;
      margin-left: 10px;
    }
  }
}

#sidebar-container {
  height: 100vh;
  padding-left: 2rem;
  padding-top: 1rem;

  .sidebar-item {
    margin-bottom: 12px;
  }

  .focus-icons {
    margin-left: 10px;
    cursor: pointer;
  }

  .fav-icons {
    cursor: pointer;
  }

  .icons {
    margin-right: 5px;
  }

  #coming-soon-container {
    margin-top: 20px;

    #coming-soon {
      color: white;
      border: solid 1px white;
      background-color: red;
      border-radius: 30px;
      padding: 10px;
      font-style: italic;
      font-size: smaller;
      opacity: 0.8;
    }
  }
}

#main-content {
  padding-left: 0;

  .map-container {
    width: 100%;
    height: 100vh;
  }
}
